---
const {url, tag} = Astro.props
---

<a href={url} target="_blank">
    <button class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium  rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 text-white dark:text-white ">
      <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-gray-900 rounded-md group-hover:bg-opacity-0">
        {tag}
      </span>
      <div class=" px-2">
        <slot/>
      </div>
      
    </button>
  </a>