<header class="flex justify-center items-center p-5 xl:w-[1120px] container mx-auto w-full">
  
  <nav class="flex flex-row lg:gap-x-40 gap-x-10 opacity-90">
    <a href="#top" class=" hover:border-b transition">Inicio</a>
    <a href="#about" class=" hover:border-b transition">Sobre mí</a>
    <a href="#projects" class=" hover:border-b transition">Proyectos</a>
    <a href="#contact" class=" hover:border-b transition">Contacto</a>
  </nav>
</header>
